* {
  box-sizing:border-box;
}

body {
  	font-family: sans-serif;
	margin: 0 auto;
	background: #272727;
	margin: 15px;
}


p {
	color: #ffffff
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
  gap: 10px;
  grid-auto-rows: minmax(700px, auto);
  text-align: center;
  overflow: hidden;
}


#intropage {
	grid-column: 2 / 6;
	grid-row: 1;
	border-radius: 60px;
	overflow: hidden;
	width: 80%;
    height: 85%;
    margin: 0px;
    margin-top: 2%;
	margin-left: 3%;
	position: relative;
}

#intropage video {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: contain;
  z-index: 0;
  top: 0px;
	left:0px;
}

/*#background-video {
	width:100vw;
	height: 100vw;
	/*object-fit: cover;
	position: fixed;
	z-index: -1;
	left:0;
	right:0;
	top:0;
	bottom:0;
}*/


h1{	font-size: 120px;
color: #e2e2e2;
font-family: 'Secular One';
letter-spacing: 8px;
margin-top: 10%;
}

.nametxt{
	position: relative;
	grid-column: 3 / span 1;
  	grid-row: 1;
	mix-blend-mode: difference;
	align-items: center;
	justify-items: center;
    margin-right: 10%;
    margin-top: 12%;
    margin-bottom: 0%;
	transition: all 1.5s ease;
	cursor: default;
	z-index: 1;
}

.folio{
	color: #3b3b3b;
	position: relative;
    top: -29%;
    left: 10%;
    margin: 0px;
    mix-blend-mode: difference;
	transition: all 1.5s ease;
	cursor: default;
	z-index: 1;
}

.folio:hover{
top: -62px;
transition: all 1.5s ease;
}

 .nametxt:hover~.folio{
top: -62px;
transition: all 1.5s ease;
}

.nametxtwave{
	position: absolute;
	visibility: hidden;
	color: #efefef;
}

.introdesc, .introdescsocials, h3{
	font-family: 'Cormorant Infant';
	font-weight: 300; }

.introdesc{
	visibility: hidden;
	position: relative;
    top: -24%;
    margin: 0px;
	font-size: 17px;
}

@keyframes introslide {
	from {left: 0%;}
	to {left: }
}
.introdescsocials{
	margin-top: 100px;
}


#showreel {grid-column: 1 / 6;

}

#folio{ 
  	grid-column: 1/6;
	grid-row: 2;
}

h2{	font-size: 40px;
color: #ffffff;
	font-family: 'Noto Sans Devanagari';
}

h3 {font-size: 15px;
	color: #343434;
}

p{
	font-family: 'Source Sans Pro';
}

.webtitle, .webtitle2{
	font-family: 'Noto Sans Devanagari';
	font-size: 20px;
	font-weight: 700;
	position: relative;
}

.webtitle2desc, .webtitledesc {
	font-size: 14px;
    font-family: 'Source Sans Pro';
    font-weight: 300;
	position: relative;
}

.webtitle2 {
	top: 10px;
}

.webtitledesc {
top: -10px;
}
.webtitle:hover, .webtitle2:hover{
  text-shadow:0px 0px 5px #ffffff;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}


section {
  overflow:hidden;
  height: 720px;

}

#instalogo {
	height: 60px;
	width:auto;
	align-items: end;
	justify-items: center;
	z-index: -1;
	margin-top: 0;
	margin-top: -30px;
}

#contactmetxt{
    height: 60px;
	width:auto;
	align-items: end;
	justify-items: center;
	z-index: -1;
	font-family: 'Secular One';
	margin-bottom: 0;
    font-size: 12px;
}

.pdfviewer {
	text-align: start;
	grid-column: 3;

}

.sidenav{
	grid-column: 1;
	position: fixed;
	text-align: left;
	line-height:25px;
	font-family: 'Secular One';
	left: 3%;
	top: 45%;

}

#socials {
	position: fixed;
	grid-column: 6;
	right: 3%;
	top: 45%;
}

.reeltitle{
	font-weight: 700;
}

.showtxt{ margin: 0;
	color: #ffffff;
	font-size: 40px;
    text-align: left;
    position: relative;
    left: 15%;
    top: 40%;
    z-index: -1;
}

.reeltxt{ margin: 0;
	color: #ffffff;
	font-size: 40px;
    text-align: end;
    position: relative;
    right: 16%;
    top: 30%;
    z-index: -1;
}

#showreelvid {
	 z-index: 1;
}

.sidenav, a:link, a:visited {
    text-decoration: none;
	color: #fdfdfd
		
}

#hidnavtxt1, #hidnavtxt2, #hidnavtxt3{
	opacity: 0%;
	visibility: hidden;
}

#showreeltxt:hover, #abouttxt:hover, #workstxt:hover{
	opacity: 50%;
}

#showreeltxt:hover ~ #hidnavtxt1, #abouttxt:hover ~ #hidnavtxt2, #workstxt:hover ~ #hidnavtxt3  {
	visibility: visible;
	opacity: 100%;
	transition: all 1.5s ease;
}


#about{
	grid-column: 3;
    height: 100px;
    text-align: center;
}

.abttitle {
	position: relative;
    left: -80%;
    text-align: end;
}
.aboutmedesc{
	position: relative;
    width: 450px;
    text-align: left;
    left: 40%;
    top: -95%;
}

